type hal_googlebattery_service, vendor_service, service_manager_type;
type hal_lineage_health_service, vendor_service, hal_service_type, service_manager_type;
